@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  transition: 0.3s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #8da2c21a;
}

::-webkit-scrollbar-thumb {
  background: #18203614;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8da2c2;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  font-family: 'Roboto Mono', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
}

.btn_customs {
  position: relative;
  overflow: hidden;
}

.blueEffect:hover {
  background-image: linear-gradient(to right, #00e5ff, #2c5bdc) !important;
  background-origin: border-box !important;
}

.auth-screen {
  background-image: linear-gradient(to right, #00e5ff, #3163ee);
}

.user-message {
  background: transparent linear-gradient(to right, #3189ee, #00e5ff);
}

.user-message::after {
  background-color: white;
  width: 10px;
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  content: '';
  border-top-left-radius: 50px;
}

.gpt-message::after {
  background-color: white;
  width: 10px;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  border-top-right-radius: 50px;
}

.primary-btn-gradient {
  background: transparent linear-gradient(116deg, #02ddf5 0%, #359bee 100%) 0%
    0% no-repeat padding-box !important;
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.02);
  transform: scale(0);
  animation: rippleEffectAnimation 0.6s;
}

.home-hero-section {
  background: url('/imgs/robot.png') center;
  background-size: cover;
}

.prefetch-hero-section {
  background: url('/imgs/robot-2.png');
  background-size: 30%;
  background-position: 10%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes rippleEffectAnimation {
  to {
    transform: scale(4);
    opacity: 1;
  }
}

@media screen and (max-width: 670px) {
  .custom-container {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
}
@media screen and (max-width: 1200px) {
  .home-hero-section {
    display: none;
  }
  .prefetch-hero-section {
    display: none;
  }
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #2c5bdc;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #313622, 0 0 5px #313622;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.animate-fade-in {
  animation: fadeIn 1s ease forwards;
}

.progress-bar {
  animation: slideInX 25s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes slideInX {
  from {
    width: 0;
  }
}
